/* NAV START */
.logo {
    width: 60px !important;
    margin-left: 25px !important;
}
.navBtn {
    width: 220px;
    padding: 2px !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 15px !important;
    font-weight: bold !important;
    margin-right: 40px !important;
}
.navBtn:hover {
    background-color: white !important;
    color: #0065c3 !important;
}
.navUl li a{
    margin-left: 40px !important;
    color: white !important;
    font-size: 80% !important;
    font-weight: bold;
}
.navBar {
    background-color: #0065c3 !important;
    margin-top: -8px;
    margin-bottom: -8px;
    z-index: 1;
}
.dropdown li a{
    color: #0264bf !important;
}
/* NAV END */

/* SECTION ONE START */ 
.sectionone {
    background-color: #000;
    display: flex;
}
.seconeimg {
    width: 60%;
    border: 5px solid red;
}
.seconeimg img {
    width: 100%;
    height: 100%;
    border: 1px solid green;
}
.seconetext {
    border: 5px solid green;
    width: 40%;
}
